{% extends 'mainapp/header.html' %} 
{% block content %}

<h1 style="font-size: 36px; font-weight: bold">{{ course.course_name }}</h1>

<div class="container">
  <div class="container">
        <div class="row">
            <div class="col-2">Cost total: </div>
            <div class="col-2"><p>{{ course.cost }}</p></div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">Start time: </div>
        <div class="col-10"><p>{{ course.start_time }}</p></div>
    </div>
    <div class="row">
        <div class="col-2">Orar: </div>
        <div class="col-10"><p>{{ course.orar}}</p></div>
    </div>
    <div class="row">
        <div class="col-2">Description: </div>
        <div class="col-10"><p>{{ course.description }}</p></div>
    </div>
</div>

{% endblock %}