{% extends 'mainapp/header.html' %} 
{% block content %}
{% load static %}
<h1>Courses</h1>

{% for course in courses %}
  {% if forloop.counter0|divisibleby:3 %}<div class="row">{% endif %}
  
  <div class="col-md-4 mb-4">
    <div class="card" style="width: 18rem; background-color: #c1bebe;">
      <img src="{% static course.course_logo %}" class="card-img-top" alt="{{ course.course_logo }}">
      <div class="card-body">
        <h5 class="card-title">{{ course.course_name }}</h5>
        <p class="card-text">In curand</p>
        <a href="course_detail/{{ course.id }}" class="btn btn-primary">Detalii</a>
      </div>
    </div>
  </div>

  {% if forloop.counter|divisibleby:3 or forloop.last %}</div>{% endif %}
{% endfor %}

{% endblock %}
