{% extends 'mainapp/header.html' %} 
{% block content %}

<style>
  .card-name {
    color: #0b0b0b; 
  }

  .card-profession {
    color: #1410e0;
  }

  .card-about {
    color: #5c5554; 
  }
</style>

<h1>Trainers</h1>

{% for trainer in trainers %}
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title card-name">{{ trainer.name }} {{ trainer.surname }}</h5>
      <p class="card-text card-profession">{{ trainer.profession }}</p>
      <p class="card-text card-about">About: {{ trainer.about }}</p>
    </div>
  </div>
{% endfor %}

{% endblock %}
