<nav class="navbar navbar-expand-lg navbar-expand" style="background-color: #6b9ac4">
    <div class="container-fluid">
        <style>
            body {
                color: azure;
            }
            .nav-link {
                color: azure;
            }
        </style>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/"><p class="fs-5">Home</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/courses"><p class="fs-5">Courses</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact"><p class="fs-5">Contact</p></a>
            </li>
            <li class "nav-item">
                <a class="nav-link" href="/enroll"><p class="fs-5">Enroll</p></a>
            </li>
            <li class "nav-item">
                <a class="nav-link" href="/trainers"><p class="fs-5">Trainers</p></a>
            </li>
            <li class "nav-item">
                <a class="nav-link" href="/register"><p class="fs-5">Sign Up</p></a>
            </li>
            <li class "nav-item">
                <a class="nav-link" href="/login"><p class="fs-5">Log In</p></a>
            </li>
        </ul>
    </div>
</nav>
